:host ::ng-deep {
  .p-password {
    width: 100%;
  }
  .p-password-input {
    width: 100%;
  }
  .p-checkbox .p-checkbox-box {
    border-width: 2px;
    transition: all 0.3s;
  }
  .p-checkbox .p-checkbox-box.p-highlight {
    background: #1a2332;
    border-color: #1a2332;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #1a2332;
  }
  .p-message {
    border-radius: 0.5rem;
  }
}
